<ion-view view-title="收藏宝贝">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>

        <div class="row">

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/balon2.png">
                </div>
                <a class="item item-icon-right" ui-sref="app.collection-detail">
                    BOLON
                    <p>偏光蛤蟆镜</p>
                    <i class="icon assertive">
                        <span style="font-size: 14px;">￥</span>
                        <span style="font-size: 20px;">508</span>
                    </i>
                </a>
            </div>

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/parzin.jpg">
                </div>
                <a class="item item-icon-right" ui-sref="app.collection-detail">
                    帕森
                    <p>6216女款</p>
                    <i class="icon assertive">
                        <span style="font-size: 14px;">￥</span>
                        <span style="font-size: 20px;">299</span>
                    </i>
                </a>
            </div>


        </div>

        <div class="row">

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/balon1.png">
                </div>
                <a class="item item-icon-right " ui-sref="app.collection-detail">
                    BOLON
                    <p>潮人明星款</p>
                    <i class="icon assertive">
                        <span style="font-size: 14px;">￥</span>
                        <span style="font-size: 20px;">512</span>
                    </i>
                </a>
            </div>

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/basto.png">
                </div>
                <a class="item item-icon-right" ui-sref="app.collection-detail">
                    邦士度
                    <p>篮球眼镜</p>
                    <i class="icon assertive">
                        <span style="font-size: 14px;">￥</span>
                        <span style="font-size: 20px;">384</span>
                    </i>
                </a>
            </div>


        </div>


    </ion-content>

</ion-view>