<ion-view view-title="联系人">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>

        <div class="row">

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/balon2.png">
                </div>
                <a class="item" >
                    徐晓亮
                    <p>18610220134</p>
                </a>
            </div>

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/parzin.jpg">
                </div>
                <a class="item" >
                    文艺新
                    <p>13612221356</p>
                </a>
            </div>


        </div>

        <div class="row">

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/balon1.png">
                </div>
                <a class="item " >
                    曾梦痕
                    <p>13978224322</p>
                </a>
            </div>

            <div class="col card ">
                <div class="item item-image">
                    <img src="assets/images/glasses/basto.png">
                </div>
                <a class="item" >
                    王志
                    <p>18012223675</p>
                </a>
            </div>


        </div>


    </ion-content>

</ion-view>
