<ion-view view-title="优惠券">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <ion-list >
            <z-item-img letter="暴龙" right-text="￥20" right-text-desc="满100使用"
                            title="暴龙眼镜" desc="期限 2015/10/18 - 2015/11/18"></z-item-img>
            <z-item-img letter="宝丽来眼镜" right-text="￥50" right-text-desc="满500使用"
                            title="宝丽来眼镜" desc="期限 2015/10/18 - 2015/11/18"></z-item-img>
            <z-item-img letter="罗敦司得" right-text="￥100" right-text-desc="满1000使用"
                            title="罗敦司得眼镜" desc="期限 2015/10/18 - 2015/11/18"></z-item-img>
        </ion-list>
    </ion-content>

</ion-view>