<ion-view view-title="问题上报">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear no-animation" ui-sref="app.problems-add">
                新增
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <a class="item" style="height: 5em;" ng-repeat="problem in vm.problems">
            <div style="float:left;padding-right: 10px;">
                <ionic-letter-avatar data="{{problem.kind}}" bg-color="#6699ee"
                                     shape="round"></ionic-letter-avatar>
            </div>
            <div>
                <h2>{{problem.title}}</h2>
                <p>{{problem.desc}}
                     <span class="item-note">
                    {{problem.time}}
                    </span>
                </p>
            </div>
        </a>

        <!--<div style="width: 92%;margin: auto;padding-top: 1em;">
            <button ui-sref="app.problems-add" class="button button-assertive ink"
                    style="width: 100%;">
                新报一个
            </button>
        </div>-->
    </ion-content>
</ion-view>
