<ion-view view-title="设置">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>

        <div class="list">
            <z-ion-item left-text="联系客服" left-icon="ion-ios-telephone-outline" right-text="4000-8888-1000" show-right-icon="false"></z-ion-item>

            <div class="item item-divider"></div>
            <z-ion-item state="app.account" left-icon="ion-ios-unlocked-outline" left-text="帐号信息" right-text="斜风细雨"></z-ion-item>
            <z-ion-item state="app.setting-address" left-icon="ion-ios-location-outline" left-text="收货地址" right-text="北辰泰岳大厦21层"></z-ion-item>

            <div class="item item-divider"></div>
            <ion-toggle class="item-icon-left">
                <i class="icon ion-ios-bell-outline" style="font-size: 16px;"></i>
                消息推送
            </ion-toggle>

            <div class="item item-divider"></div>
            <z-ion-item state="app.setting-about" left-text="关于我们" left-icon="ion-ios-information-outline" right-text="北京图加科技"></z-ion-item>
            <z-ion-item state="app.setting-advise" left-icon="ion-ios-compose-outline" left-text="意见反馈"></z-ion-item>
            <z-ion-item left-text="检查版本" right-text="v1.0.0" show-right-icon="false"></z-ion-item>
        </div>

        <div class="padding-horizontal">
            <button ng-click="set.onClearCache()"
                    class="button button-block button-stable ink">清理缓存</button>
        </div>

        <div class="padding-horizontal">
            <button ng-click="set.onLogout()"
                    class="button button-block button-assertive ink">退出登录</button>
        </div>
    </ion-content>
</ion-view>