<ion-view hide-nav-bar="false" view-title="{{vm.title}}">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons>
            <button class="button button-icon ion-navicon"
                    ng-click="vm.popover.show($event)" ng-show="vm.showAreaBtn">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-clear no-animation"
                    ng-click="vm.back()" ng-show="vm.showBackBtn">
                返回
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content>

        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="vm.refresh()">
        </ion-refresher>

        <div class="row show-scale">
            <div class="col statistic" ng-click="vm.listAlarm(vm.alarmStats['lv1'],'严重告警')">
                <div class="value color-red-700">{{vm.alarmStats['lv1']}}</div>
                <div class="label">严重告警</div>
            </div>
            <div class="alarm-vline"></div>
            <div class="col statistic" ng-click="vm.listAlarm(vm.alarmStats['lv2'],'重要告警')">
                <div class="value color-orange-700">{{vm.alarmStats['lv2']}}</div>
                <div class="label">重要告警</div>
            </div>
        </div>

        <div class="alarm-hline"></div>

        <div class="row show-scale">
            <div class="col statistic" ng-click="vm.listAlarm(vm.alarmStats['lv3'],'次要告警')">
                <div class="value color-yellow-700">{{vm.alarmStats['lv3']}}</div>
                <div class="label">次要告警</div>
            </div>
            <div class="alarm-vline"></div>
            <div class="col statistic" ng-click="vm.listAlarm(vm.alarmStats['lv4'],'警告告警')">
                <div class="value color-blue-700">{{vm.alarmStats['lv4']}}</div>
                <div class="label">警告告警</div>
            </div>
        </div>

        <ion-list>
            <div class="item item-divider">{{vm.alarmListTitle}}</div>

            <a class="item show-left-right" style="height: 5em;" ng-repeat="alarm in vm.alarms"
                      ui-sref="app.alarm-detail({alarmId:alarm.id})">
                <div style="float:left;padding-right: 10px;">
                    <ionic-letter-avatar data="{{alarm.letter}}"
                                         shape="round"
                                         bg-color="{{vm.getColor(alarm.level)}}"></ionic-letter-avatar>
                </div>
                <div>
                    <h2>{{alarm.title}}</h2>
                    <p>{{alarm.desc}}
                         <span class="item-note">
                        {{alarm.time}}
                        </span>
                    </p>

                </div>

            </a>

        </ion-list>

        <div class="noalarm-text" ng-if="vm.alarms.length === 0">无告警</div>
    </ion-content>
</ion-view>
