<ion-view hide-nav-bar="true" view-title="{{profile.user != null ? profile.user.nickname : '未登录'}}">
    <!--<ion-nav-bar class="bar-calm">-->
        <!--<ion-nav-back-button>-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->

    <ion-content>
        <div class="profile-bg">
            <div class="profile-header">
                <div ng-if="profile.user != null">
                    <a ui-sref="app.account">
                        <img class="has-user-image" src="{{profile.user.profile_img}}"/>
                    </a>
                    <h4 class="user-name">{{profile.user.nickname}}</h4>
                </div>
                <div ng-if="profile.user == null" class="no-user-image"
                     ui-sref="login">
                    登录 / 注册
                </div>

                <!--<a ng-if="profile.user != null" ui-sref="app.message"-->
                   <!--style="position: absolute;right: 20px;top: 20px;font-size:24px;color:white;">-->
                    <!--<i class="icon ion-ios-chatbubble-outline"></i>-->
                    <!--<span class=" noti_bubble">3</span>-->
                <!--</a>-->

                <a ng-if="profile.user != null" ui-sref="app.message"
                   class="icon ion-ios-email-outline "
                        style="position: absolute;right: 30px;top: 30px;font-size:32px;color:white;">
                    <span class="badge badge-assertive noti_bubble2">3</span>
                </a>

            </div>

            <div class="profile-payinfo-container">
                <div class="payinfo-item has-border-right">
                    <a href="{{profile.user == null ? '#/login' : '#/orders'}}"  class="icon-left">
                        <i class="icon ion-ios-filing-outline"></i>
                        待付款
                    </a>
                </div>

                <div class="payinfo-item has-border-right">
                    <a href="{{profile.user == null ? '#/login' : '#/orders'}}"  class="icon-left">
                        <i class="icon ion-ios-briefcase-outline"></i>
                        待收货
                    </a>
                </div>

                <div class="payinfo-item has-border-right">
                    <a href="{{profile.user == null ? '#/login' : '#/orders'}}"  class="icon-left">
                        <i class="icon ion-ios-compose-outline"></i>
                        待评价
                    </a>
                </div>

                <div class="payinfo-item">
                    <a href="{{profile.user == null ? '#/login' : '#/orders'}}"  class="icon-left">
                        <i class="icon ion-ios-help-outline"></i>
                        退款/售后
                    </a>
                </div>
            </div>
        </div>


        <div class="item item-divider">
        </div>

        <div class="list">
            <a href="{{profile.user == null ? '#/login' : '#/orders'}}" class="item item-icon-left item-icon-right">
                <i class="icon ion-clipboard" style="font-size: 16px;"></i>
                我的订单
                <span class="item-note">
                  还未下订单
                </span>
                <i class="icon ion-chevron-right" style="opacity: 0.5;font-size: 14px;"></i>
            </a>

            <a href="{{profile.user == null ? '#/login' : '#/collection'}}" class="item item-icon-left item-icon-right">
                <i class="icon ion-android-star-outline" style="font-size: 16px;"></i>
                我的收藏
                <span class="item-note">
                  4件
                </span>
                <i class="icon ion-chevron-right" style="opacity: 0.5;font-size: 14px;"></i>
            </a>

            <a href="{{profile.user == null ? '#/login' : '#/coupon'}}" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-pricetags-outline" style="font-size: 16px;"></i>
                我的优惠券
                <span class="item-note">
                  3张即将过期
                </span>
                <i class="icon ion-chevron-right" style="opacity: 0.5;font-size: 14px;"></i>
            </a>

            <div class="item item-divider">
            </div>

            <a href="{{profile.user == null ? '#/login' : '#/setting'}}" class="item item-icon-left">
                <i class="icon ion-ios-gear-outline" style="font-size: 16px;"></i>
                设置
                <span class="item-note">
                  更多
                </span>
            </a>

        </div>


    </ion-content>


</ion-view>




