<ion-view view-title="{{vm.title}}">

    <ion-nav-bar class="bar-positive">


        <ion-nav-buttons>
            <button class="button button-icon ion-navicon"
                    ng-click="vm.popover.show($event)" ng-show="vm.showAreaBtn">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-clear no-animation"
                    ng-click="vm.back()" ng-if="vm.showBackBtn">
                返回
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content direction="y" scrollbar-y="false">

        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="vm.refreshItems()">
        </ion-refresher>

        <ion-list>
            <a class="item item-icon-left" collection-repeat="item in vm.items"
               ui-sref="app.res-list({typeId:item.name})">
                <i class="icon {{item.icon}}" style="font-size: 18px;"></i>
                {{item.name}}
                <span class="badge badge-calm">{{item.value}}</span>
            </a>
        </ion-list>

        <div ng-if="vm.items !== undefined && !vm.items.length" class="no-results">
            <p>No Results</p>
        </div>

    </ion-content>
</ion-view>
