<ion-view view-title="资源">

    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-ios-search" ng-click="vm.showFilterBar()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content direction="y" scrollbar-y="false">

        <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="vm.refreshItems()">
        </ion-refresher>

        <ion-list>
            <ion-item collection-repeat="item in vm.items" >
                <p>{{item.text}}</p>
            </ion-item>
        </ion-list>

        <div ng-if="items !== undefined && !items.length" class="no-results">
            <p>No Results</p>
        </div>

    </ion-content>
</ion-view>
