@charset 'UTF-8';
@import 'vars';
@import 'typography';
@import "animate";
@import "colors";

//引入ionic相关
@import "../vendors/ionic/scss/variables";
@import "../vendors/ionic/scss/mixins";

@import "../vendors/md-sass/sass-material-colors";
@import "../vendors/md-sass/sass-material-colors-classes";

@import "override";
@import "app/common";
@import "app/tabs";
@import "app/cart";
@import "app/glasses";
@import "app/login";
@import "app/profile";
@import "app/model";
@import "app/statistic";
@import "app/alarm";
@import "app/perf";

@import "directives/md-label";
@import "directives/z-ion-item";

.main {
    background-image: url("../images/iphone6.png");
    background-clip: content-box;
    background-size: cover;
    height: 600px;
}
